<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make your Question</title>
    <link th:href="@{/login/CSSfiles/teacher/makeCreate.css}" rel="stylesheet">
    <link th:href="@{/login/CSSfiles/navBar.css}" rel="stylesheet">
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="http://localhost:8080/login/teacher/menu">Αρχική</a>
        </li>
        <li>
            <a href="http://localhost:8080/login/teacher/aboutMe">Για Εμένα</a>
        </li>
        <li>
            <a href="#" id="logOut">Αποσύνδεση</a>
        </li>
    </ul>
</nav><br><br><br><br>

    <div class="blackboard">
        <div class="form">
            <h1>Φτιάξε μια ερώτηση που σίγουρα θα θυμούνται οι μαθητές!</h1>
            <p>
                <label>Φωτογραφία: </label>
                <input type="text" id="image" placeholder="Γράψε εδώ το url της φωτογραφίας" size="42">
            </p>
            <p>
                <label>Κείμενο Ερώτησης: </label>
                <input type="text" id="txt" placeholder="Γράψε Εδώ το Κείμενο" size="39">
            </p>
            <p>
                <label>Επιλογή 1: </label>
                <input type="text" id="option1" placeholder="Γράψε την σωστή απάντηση εδώ" size="40">
            </p>
            <p>
                <label>Επιλογή 2: </label>
                <input type="text" id="option2" placeholder="Γράψε μια δεύτερη απάντηση που δεν είναι σωστή" size="40">
            </p>  <p>
                <label>Επιλογή 3: </label>
                <input type="text" id="option3" placeholder="Γράψε μια τρίτη απάντηση που δεν είναι σωστή" size="40">
            </p>  <p>
                <label>Επιλογή 4: </label>
                <input type="text" id="option4" placeholder="Γράψε μια τέταρτη απάντηση που δεν είναι σωστή" size="40">
            </p>
            <p class="wipeout">
                <input type="submit" value="Έτοιμη" id="addQuestion" />
            </p>
            <p class="wipeout">
                <input type="submit" value="Ανανέωση" id="updateQuestion" />
            </p>
        </div>
    </div>


<script type="text/javascript" th:src="@{/login/JSfiles/teacher/makeQuestion.js}"></script>
</body>
</html>