<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make your Question</title>
</head>
<body>
<h1> <b>Φτιάξε μια ερώτηση που σίγουρα θα θυμούνται οι μαθητές! </b></h1>
&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Image:&nbsp;</span>
</b>
<input type="text" id="image" placeholder="Write here image`s url" size="42"> <br>


<b>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Add a text</span>
</b>
<input type="text" id="txt" placeholder="Write here  a text" size="39"> <br>

<b>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Option1:</span>&nbsp;
</b>
<input type="text" id="option1" placeholder="Write here  first option" size="40"><br>

<b>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Option2:</span>&nbsp;
</b>
<input type="text" id="option2" placeholder="Write here  second option" size="40"><br>

<b>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Option3:</span>&nbsp;
</b>
<input type="text" id="option3" placeholder="Write here  third option" size="40"><br>

<b>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Option4:</span>&nbsp;
</b>
<input type="text" id="option4" placeholder="Write here  fourth option" size="40"><br>

<b>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Question Script:</span>
</b>
<input type="text" id="qscript" placeholder="Write here  question script" size="33"><br>
<br>
<input type="button" id="addquestion" value="add question">

</body>
</html>