<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Menu Teacher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1> <b>Καλώς ήλθες καθηγητά! </b></h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="button" id="makequestion" value="Δημιουργία Ερώτησης"> &nbsp;&nbsp;
    <input type="button" id="myquestions" value="Show my questions"> &nbsp;&nbsp;
    <input type="button" id="showgrades" value="Show student`s grades"> <br> <br>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="something" placeholder="Write something " size="54">

    <button type="button" id="dosomething" class="btn btn-primary" >
        do something
    </button>



</p>

<script type="text/javascript" th:src="@{/menuTeacher.js}"></script>
</body>
</html>