<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student`s grades</title>
</head>
<body>
<h1> <b>Επίλεξε έναν από τους μαθητές σου για να δεις την επίδοση του!</b></h1>
<select name="students" id="students">
    <option value="student1">Μελέτης Τσεσμελής</option>
    <option value="student2">Άρτεμις Στεφανίδου </option>
    <option value="student3">Βασίλης Χύσκαϊ</option>

</select>
<input type="button" id="grades" value="show grades">

<span> << Βαθμοί από κάτω>> </span>
</body>
</html>