<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My questions</title>
</head>
<body>
<h1> <b>Οι δημιουργίες μου! </b></h1>

<span> << Δυναμικα τα questions από κάτω>> </span>
<br> <br>
<span> Question 1</span>
<input type="button" id="delete1" value="Delete">
<input type="button" id="update1" value="Update">
<br> <br>

<span> Question 2</span>
<input type="button" id="delete2" value="Delete">
<input type="button" id="update2" value="Update">
<br> <br>

<span> Question 3</span>
<input type="button" id="delete3" value="Delete">
<input type="button" id="update3" value="Update">
<br> <br>

<span> Question 4</span>
<input type="button" id="delete4" value="Delete">
<input type="button" id="update4" value="Update">
<br> <br>

<span> Question 5</span>
<input type="button" id="delete5" value="Delete">
<input type="button" id="update5" value="Update">
<br> <br>
</body>
</html>