<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Quiz</title>
</head>
<body>


 <span style="font-size: 100%; ">What quiz do you want to do ?<br></span> <br> <br>
  <span style="font-size: 100%; ">Class:<br></span>
 <select name="class" id="class">
     <option value="class1">first class</option>
     <option value="class2">Second class </option>
     <option value="class3">third class</option>
 </select>
<br> <br>
 <span style="font-size: 100%; ">Chapter:<br></span>
 <select name="chapter" id="chapter">
     <option value="chapter1">chapter1</option>
     <option value="chapter2">chapter2 </option>
     <option value="chapter3">chapter3</option>
     <option value="chapter4">chapter4</option>
     <option value="chapter5">chapter5</option>
     <option value="chapter6">chapter6</option>
     <option value="chapter7">chapter7</option>
     <option value="chapter8">chapter8</option>
     <option value="chapter9">chapter9</option>
     <option value="chapter10">chapter10</option>
 </select> <br> <br>

 <span style="font-size: 100%; ">Name:<br></span>
 <input type="text" id="something" placeholder="Write something " size="54">
 <input type="button" id="findquiz" value="Find quiz!"> <br> <br>
</body>
</html>