<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<p>hello</p>

<button class="btn"><input type="submit" id="colSubmit" value="Find me a city" /></button><br>
<button class="btn"><input type="submit" id="classSubmit" value="class" /></button><br>
<button class="btn"><input type="submit" id="subjectSubmit" value="subject" /></button><br>
<button class="btn"><input type="submit" id="userSubmit" value="user" /></button><br>


<script type="text/javascript" th:src="@{/script.js}"></script>
</body>
</html>