<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Teacher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1> <b>Θα σπασεις το ρεκορ του καλύτερου quiz? Τι λες?</b></h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" id="doquiz" value="Make a Quiz!"> &nbsp;&nbsp;
    <input type="button" id="showgrades" value="Show student`s grades!"> <br> <br>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="something" placeholder="Write something " size="54">

    <button type="button" id="dosomething" class="btn btn-primary" >
        do something
    </button>


    <b><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Image:&nbsp;</span>
    </b>
    <input type="text" id="image" placeholder="Write here image`s url" size="42"> <br>


    <b>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Add a text</span>
    </b>
    <input type="text" id="txt" placeholder="Write here  a text" size="39"> <br>

    <b>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Option1:</span>&nbsp;
    </b>
    <input type="text" id="option1" placeholder="Write here  first option" size="40"><br>

    <b>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Option2:</span>&nbsp;
    </b>
    <input type="text" id="option2" placeholder="Write here  second option" size="40"><br>

    <b>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Option3:</span>&nbsp;
    </b>
    <input type="text" id="option3" placeholder="Write here  third option" size="40"><br>

    <b>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Option4:</span>&nbsp;
    </b>
    <input type="text" id="option4" placeholder="Write here  fourth option" size="40"><br>

    <b>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Question Script:</span>
    </b>
    <input type="text" id="qscript" placeholder="Write here  question script" size="33"><br>

</p>

</body>
</html>