<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/login/CSSfiles/index.css}" rel="stylesheet">
</head>
<body>
<p>hello</p>

<button class="btn"><input type="submit" id="colSubmit" value="Find me a city" /></button><br>
<button class="btn"><input type="submit" id="classSubmit" value="class" /></button><br>
<button class="btn"><input type="submit" id="subjectSubmit" value="subject" /></button><br>
<button class="btn"><input type="submit" id="userSubmit" value="user" /></button><br>
<button class="btn"><input type="submit" id="deleteClass" value="deleteClass" /></button><br>
<button class="btn"><input type="submit" id="deleteSubject" value="deleteSubject" /></button><br>


<button class="btn"><input type="submit" id="studentList" value="Students" /></button><br>
<div  id="printStudents"></div>
<button class="btn"><input type="submit" id="getStudent" value="Students" /></button><br>
<div  id="printStudent"></div>
<button class="btn"><input type="submit" id="getGrades" value="Grades" /></button><br>
<div  id="printGrades"></div>
<button class="btn"><input type="submit" id="gradePost" value="gradePost" /></button><br>
<button class="btn"><input type="submit" id="putClass" value="updateClass" /></button><br>
<button class="btn"><input type="submit" id="putSubject" value="updateSubject" /></button><br>
<button class="btn"><input type="submit" id="putQuestion" value="updateQuestion" /></button><br>

<button class="btn"><input type="submit" id="doQuiz" value="updateQuestion" /></button><br>


<script type="text/javascript" th:src="@{/login/JSfiles/script.js}"></script>


</body>
</html>