<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/login/CSSfiles/login.css}" rel="stylesheet">
</head>
<body>
<br><br> <br>
<section class="home" id="home">
    <div>
        <font size="+3"> Λίγα Λόγια Για Την Εργασία</font>  &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;
        <a href="#email"><button  class="btn">Γρήγορα για σύνδεση!</button></a>
    </div>
<!--    <div> <h1>Λίγα Λόγια Για Την Εργασία</h1> </div>-->
    <div>
<p>
    Είναι  μια μικρή εφαρμογή για να μπορεί ο καθηγητής να έχει τον δικό του χώρο και να φτιάχνει δικά του quiz με<br />
    τα οποία να κάνει πιο ευχάριστο το μάθημα αλλά ταυτόχρονα οι μαθητές του να μαθαίνουν καλύτερα τα όσα κάνουν στην τάξη<br /><br>
    Θα έχουμε ένα σύστημα στο οποίο:<br />
    <br>
    Ο Μαθητής θα μπορεί:<br />
    &emsp; 1.Να συνδέεται στο σύστημα(με email και κωδικό)<br />
    &emsp; 2.Να επιλέγει Οι απαντήσεις μου και να βλέπει τις ερωτήσεις που έχει ήδη απαντήση και το πώς τα πήγε <br />
    &emsp; 3.Να επιλέγει quiz ερωτήσεων, τα οποία χωρίζονται ανά κεφάλαιο <br />
    &emsp; 4.Να κάνει αποσύνδεση απο το σύστημα <br />

    <br>
    Ο Καθηγητής θα μπορεί:<br />
    &emsp; 1.Να κάνει εγγραφή στο σύστημα ( email, κωδικό , αριθμό τηλεφώνου, ονοματεπώνυμο) <br />
    &emsp; 2.Να συνδέεται στο σύστημα (με email και κωδικό) <br />
    &emsp; 3.Να δημιουργήσει μια ερώτηση γράφοντας ένα κείμενο για εκφώνηση, 4 πιθανές απαντήσεις , το κεφάλαιο που ανήκει η ερώτηση και αν επιθυμεί μια φωτογραφία <br />
    &emsp; 4.Να διαγράψει μια ερώτηση <br/>
    &emsp; 5.Να τροποποιήσει μια ερώτηση <br/>
    &emsp; 6.Να εμφανίσει ανα μαθητή το ιστορικό επίδοσης ανα ερώτηση <br />
    &emsp; 7.Να δημιουργήσει έναν μαθητή βάζοντας email, ονοματεπώνυμο, κωδικό πρόσβασης και κινητό  <br />
    &emsp; 8.Να επεξεργαστεί και να αλλάξει τα δεδομένα των  μαθητών του <br />
    &emsp; 9.Να διαγράψει κάποιον  μαθητή του <br />
    &emsp; 10.Να δει τις ερωτήσεις που έχει φτιάξει <br />
    &emsp; 11.Να εμφανίσει όλους τους μαθητές του και να δει τις επιδόσεις τους<br />

    <br>
    Παραδοχές<br/>
    &emsp; 1. Κάθε μαθητής και κάθε καθηγητής μπορεί να έχει μόνο έναν συνδυασμό στοιχείων για να συνδεθεί<br />
    &emsp; 2. Το σύστημα θα εμφανίζει με τυχαία σειρά τις ερωτήσεις και τις απαντήσεις των quiz <br />
    &emsp; 3. Ένας μαθητής θα μπορεί να κάνει όσες φορές θέλει ένα τύπο quiz (ανα κεφάλαιο) , και ένας τύπος quiz θα μπορεί να γίνεται απο πολλούς μαθητές<br />
    &emsp; 4. Ο μαθητής μπορεί να επιλέξει να κάνει quiz ανεξάρτητα με την τάξη στην οποία βρίσκεται εφόσον επιλέγει με βάση το κεφάλαιο<br />
    &emsp; 5. Θεωρούμε πως το email παραμένει σταθερό <br />
    &emsp; 6. Θεωρούμε και ότι η κάθε ερώτηση είναι μοναδική ανα καθηγητή (επομένως μπορούμε και να αναζητήσουμε με αυτήν την εκφώνηση) <br />
</p>

    </div>

<br>

    <div class="login-page" id="email">
        <div class="form">

                <span>Login </span>
                <input type="email" id="emailUser" placeholder="Email"/>
                <input type="password" id="passwordUser" placeholder="Password"/>
                <input class="btn" type="button" id="login" value="Σύνδεση">

        </div>
    </div>

    <div id="contact">
        <div class="social-menu">
            <ul>
                <li>
                    <a href="https://github.com/ArtemisStefanidou/distributedSystems.git" target="_blank">
                        <img th:src="@{/login/photos/github.svg}" alt="github">
                    </a>
                </li>
                <li> <img th:src="@{/login/photos/email.png}" alt="e-mail"> it21996@hua.gr</li>
                <li> <img th:src="@{/login/photos/email.png}" alt="e-mail"> it219105@hua.gr</li>
                <li> <img th:src="@{/login/photos/email.png}" alt="e-mail"> it219118@hua.gr</li>
            </ul>
        </div><br>
    </div>
</section>

<!--<section>-->
<!--    <h1> One step  to join in fun!</h1><br>-->
<!--    <p>-->
<!--        <span>Email:</span>-->
<!--    </p>-->
<!--    <input type="text" id="email" placeholder="Write here your Email " size="54">-->

<!--    <p>-->
<!--        <span>Password:</span>-->
<!--    </p>-->
<!--    <input type="password" id="password" placeholder="Write here your password " size="54"><br><br>-->

<!--    <input class="btn" type="button" id="login" value="login"> <br> <br>-->
<!--</section>>-->

<script type="text/javascript" th:src="@{/login/JSfiles/login.js}"></script>
</body>
</html>