<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/login/login.css}" rel="stylesheet">
</head>
<body>

<section class="home" id="home">
    <div> <h1>Λίγα Λόγια Για Την Εργασία</h1> </div>
    <div>
        <p>Είναι Σαν μια μικρή εφαρμογή για να μπορεί ο καθηγητής να έχει τον δικό του χώρο και να φτιάχνει δικά του quiz με</p>
        <p>  τα οποία να κάνει πιο ευχάριστο το μάθημα αλλά ταυτόχρονα οι μαθητές του να μαθαίνουν καλύτερα τα όσα κάνουν στην τάξη.</p>
        <p> Ο καθηγητής μπορεί να δημιουργήσει δικούς του μαθητές και να τους δώσει τον κωδικό για να μπουν στον δικό τους</p>
        <p>  λογαριασμό και νa ξεκινήσουν τα quiz.(θα γράψουμε όλες τις παραδοχές εδώ)Πιο κάτω θα δείτε και τα email μας καθώς</p>
        <p> και το link για το project που βρίσκεται στο github</p>
    </div>
    <div id="contact">
        <div class="social-menu">
            <ul>
                <li>
                    <a href="https://github.com/ArtemisStefanidou/distributedSystems.git" target="_blank">
                        <img th:src="@{/login/photos/github.svg}" alt="github">
                    </a>
                </li>
                <li> <img th:src="@{/login/photos/email.png}" alt="e-mail"> it21996@hua.gr</li>
                <li> <img th:src="@{/login/photos/email.png}" alt="e-mail"> it219105@hua.gr</li>
                <li> <img th:src="@{/login/photos/email.png}" alt="e-mail"> it219118@hua.gr</li>
            </ul>
        </div><br>
    </div>
    <div><a href="#email"><button class="btn">Ας Ξεκινήσουμε</button></a></div>

    <div class="login-page" id="email">
        <div class="form">

                <span>Login </span>
                <input type="email" id="emailUser" placeholder="Email"/>
                <input type="password" id="passwordUser" placeholder="Password"/>
                <input class="btn" type="button" id="login" value="Σύνδεση">

        </div>
    </div>
</section>

<!--<section>-->
<!--    <h1> One step  to join in fun!</h1><br>-->
<!--    <p>-->
<!--        <span>Email:</span>-->
<!--    </p>-->
<!--    <input type="text" id="email" placeholder="Write here your Email " size="54">-->

<!--    <p>-->
<!--        <span>Password:</span>-->
<!--    </p>-->
<!--    <input type="password" id="password" placeholder="Write here your password " size="54"><br><br>-->

<!--    <input class="btn" type="button" id="login" value="login"> <br> <br>-->
<!--</section>>-->

<script type="text/javascript" th:src="@{/login/login.js}"></script>
</body>
</html>