<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1> One step  to join in fun!</h1>
<p>
    <span>Email:</span>
</p>
<input type="text" id="email" placeholder="Write here your Email " size="54">

<p>
    <span>Password:</span>
</p>
<input type="text" id="password" placeholder="Write here your password " size="54">

<input type="button" id="login" value="login"> <br> <br>

<script type="text/javascript" th:src="@{/login/login.js}"></script>
</body>
</html>