<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Menu Student</title>
    <link th:href="@{/login/menuStudent.css}" rel="stylesheet">
</head>
<body>

<h1><span>K</span>αλώς <span>ή</span>λθατε στον <span>κ</span>όσμο των <span>μ</span>αθηματικών!</h1>

<div>
    <button id="showMyAnswers" class="button">Οι Απαντήσεις Μου!</button>
    <button id="goToQuiz" class="button">Εύρεση Quiz!</button>
</div>


<div id="listAnswers"></div>

<script type="text/javascript" th:src="@{/login/menuStudent.js}"></script>
</body>
</html>