body {
    height: 100%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg) center center fixed;
    background-size: cover;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

.centerButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.centerInfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

h1
{
    text-align: center;
    position: relative;
    font-size: 4em;
    color: #000000;
    overflow: hidden;

}

h1:before{
    text-align: center;
    content: '';
    position: absolute;
    left: 130%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%, #F6F1ED 5%, #F6F1ED 100%);
    animation:  animate 10s linear forwards;
}

@keyframes animate{
    0%
    {
        left: 30%;
    }

    100%
    {
        left: 130%
    }

}


h1 span
{
    text-align: center;
    color: #4CAF50;
}

button, select {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

select:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

select:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

tr {
    background-color: #4CAF50;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #4CAF50;
}

tr.active-row {
    font-weight: bold;
    color: #4CAF50;
}

.hide{
    display:none;
}


.subject{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    align-content: space-around;

    background-color: #4CAF50;

}


.subject:hover {

    background-color: #4CAF50;

}

.links,.subject {

    padding: 12px;

    font-size: 1.2em;

    font-family: futura Md BT, serif;

    border: none;

    outline: none;

    width:200px;

    color:#fff;

    transition: 0.3s;


}

.list0 {

    position: absolute;

    transform: scaleY(0);

    transform-origin: top;

    transition: 0.3s;

}


.links {

    background-color: #4CAF50;

    width: 200px;

}

.links:hover {

    background-color: #4CAF50;

    transform: scale(1.1);

}

a {
    color: #1a1a1a;
    text-decoration: none;
}

