<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Menu Student</title>
    <link th:href="@{/login/CSSfiles/menu.css}" rel="stylesheet">
    <link th:href="@{/login/CSSfiles/navBar.css}" rel="stylesheet">
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="http://localhost:8080/login/student/menu">Αρχική</a>
        </li>
        <li>
            <a  id="logOut">Αποσύνδεση</a>
        </li>
    </ul>
</nav><br><br><br><br>
<h1><span>K</span>αλώς <span>ή</span>λθατε στον <span>κ</span>όσμο των <span>μ</span>αθηματικών!</h1>
<br><br><br><br>
<div class="centerButtons">
    <div>
        <button id="showMyAnswers" class="button">Οι Απαντήσεις Μου!</button>
    </div>

    <div>
        <button id="findQuiz" class="button" ><a href="http://localhost:8080/login/student/quiz">Εύρεση Quiz!</a></button>
    </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="centerInfo">
    <div id="listAnswers"></div>
</div>

<script type="text/javascript" th:src="@{/login/JSfiles/student/menuStudent.js}"></script>
</body>
</html>