<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport " content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link   href="/login/CSSfiles/student/quiz_styles.css" rel="stylesheet">
    <script defer src="/login/JSfiles/student/quiz_script.js"></script>
    <link th:href="@{/login/CSSfiles/navBar.css}" rel="stylesheet">
    <title>Quiz</title>
</head>
<body>
    <div >
        <nav>
            <ul>
                <li>
                    <a href="http://localhost:8080/login/student/menu">Αρχική</a>
                </li>
                <li>
                    <a id="logOut">Αποσύνδεση</a>
                </li>
            </ul>
        </nav><br> <br> <br></div>
<div class="container">

    <div id="question-container" class="hide">
        <div id="question"> Question</div>
        <div id="image"> </div>
<!--        prepei na to ruthisw gia na emfanizetai kathe eikona se sugkekrimenh erwthsh, kai na to pairnei apo to drive giati kati phgaine lathos-->

<!--        <img  class="images" id="img_guestion" width=40% height=30% src="../../images/eureshgwnias.png" alt="Σε ενα ορθογώνιο τρίγωνο αν η μια οξεία γωνία είναι 50 να βρείτε την άλλη οξεία γωνία.">-->


        <div id="answer-buttons" class="btn-grid">

            <button class="btn" id="button1">Answer1</button>
            <button class="btn" id="button2">Answer2</button>
            <button class="btn" id="button3">Answer3</button>
            <button class="btn" id="button4">Answer4</button>

        </div>
    </div>
    <div class="controls">
        <div><button id="start-btn" class="start-btn btn">Ξεκίνα το Quiz!</button></div><br>

        <div id="dropDown">
            <select name="subject" id="subject" >
                <div class="list1">
                    <option label="--Επέλεξε Κεφάλαιο--" value="select" class="links" ></option>
                    <option value="Πρωτοβάθμιες Εξισώσεις" class="links">Πρωτοβάθμιες Εξισώσεις</option>
                    <option value="Εμβαδά Σχημάτων" class="links">Εμβαδά Σχημάτων</option>>
                </div>
            </select>
        </div>

        <button id="next-btn" class="next-btn btn hide">Επόμενο</button>
    </div>
</div>
</body>
</html>